@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
}

/* Light mode */
:root {
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-surface-2: #e6ebef;
  --color-emphasis: #cbd5e1;
  --color-emphasis-2: #7e966f;
  --color-text: #0f172a;
  --color-muted: #64748b;
  --color-border: #e2e8f0;
  --color-primary: #064979;
  --color-primary-hover: #1e40af;
  --color-accent: #c5aa67;
  --color-nav-active: #1a1a1a;
  --color-nav-inactive: #2e2e2e;
}

/* Dark mode */
.dark {
  --color-background: #151a1d;
  --color-surface: #192125;
  --color-surface-2: #262f33;
  --color-emphasis: #cce7f4;
  --color-emphasis-2: #7e966f;
  --color-text: #f8fafc;
  --color-muted: #94a3b8;
  --color-border: #303c3e;
  --color-primary: #064979;
  --color-primary-hover: #2563eb;
  --color-accent: #c5aa67;
  --color-nav-active: #ffffff;
  --color-nav-inactive: #a7abae;
}

.rdp {
  --rdp-accent-color: var(--color-primary);
  --rdp-accent-color-dark: var(--color-primary-hover);
}

html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
